# NOTA: No Next.js standalone, estas variáveis DEVEM estar presentes durante o 'docker build'
# para que funcionem no navegador (prefixo NEXT_PUBLIC_).

NEXT_PUBLIC_API_URL=https://api.migliorinlabs.cloud
NEXT_PUBLIC_SUPABASE_URL=https://vgqfsswhprqtjebbouxu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=coloque_aqui_sua_chave_anonima
NEXT_PUBLIC_OS_SECURITY_KEY=
