NEXT_PUBLIC_API_URL=https://api.migliorinlabs.cloud
NEXT_PUBLIC_SUPABASE_URL=https://vgqfsswhprqtjebbouxu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=coloque_aqui_sua_chave_anonima
NEXT_PUBLIC_OS_SECURITY_KEY=
